/*.header{*/
/*background-color: #00FA9A;*/
/*}*/
body{
    background: #ddd6cc;
}
.header{
    height: 180px;
    /*width: 100%;*/
    /*background-color: #00FA9A;*/
}
.info_1 {
    background-color: #CCCCCC;
}

.info_1 img {
    margin: 10px 20px;
    border-radius: 150px;
}

.info_1 h3 {
    margin: 63px auto;
    position: relative;
    right: 80px;
    top: 47px;
}

.info_2 {
    background-color: #e7c3c3;
    text-align: center;
    padding: 35px 0;
}

.info_3 img {
    position: relative;
    right: 15px;
}