<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改头像</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <style>
        .load{
            font-size: 18px;
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="container col-md-3 ">
        <div class="row col-sm-offset-2">
            <a href="{% url 'index' %}"><p>返回</p></a>
            <div>
                <form action="{% url 'blog:crop' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="file" class="load">上传头像图片 <i class="glyphicon glyphicon-hand-down"></i></label>
                    <input type="file" id="file" name="file" class="btn load" style="margin-left: -13px">
                    <input type="submit" value="提交" class="btn-primary load">
                </form>
            </div>
            <div style="margin-top: 10px">
                <img src="/media/{{ avatar_obj.avatar }}" alt="..." class="img-thumbnail" width="200px" height="200px">
            </div>
        </div>
    </div>

<script src="/static/jquery-3.4.1.js"></script>
</body>
</html>