{% extends 'base.html' %}
{% block page-main %}
    <!-- 文章列表 开始-->
    <div class="article-list">
        <a href="{% url 'blog:add_article' %}"><input type="button" class="btn-success pull-right" value="后台管理"></a>
        <a href="{% url 'index' %}"><input type="button" class="btn-success pull-right" value="首页"></a>
        <hr>
            {% for article in article_list %}
                <div class="article">
                    <h3><a href="{% url 'blog:article_detail' article.user.username article.pk %}">{{ article.title }}</a></h3>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object author-img" src="/media/{{ article.user.avatar }}" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>{{ article.desc }}</p>
                        </div>
                    </div>
                    <div class="article-footer">
                        <span><a
                                href="{% url 'blog:home' article.user.username %}">{{ article.user.username }}</a></span>发布于:
                        <span>{{ article.create_time|date:'Y-m-d H:i:s' }}</span>
                        <span class="glyphicon glyphicon-comment"
                              aria-hidden="true">评论({{ article.comment_count }})</span>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">点赞({{ article.up_count }})</span>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    <!-- 文章列表 结束-->
{% endblock %}